[submodule "raylib"]
	path = ext/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "Chipmunk2D"]
	path = ext/Chipmunk2D
	url = https://github.com/slembcke/Chipmunk2D.git
[submodule "ext/curl"]
	path = ext/curl
	url = https://github.com/curl/curl.git
